<!-- -------------------
Name: Hope Watson
Coding 03
Purpose: The commoon header for title generator pages
------------------- -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="shortcut icon" type="image/jpg" href="favicon.ico"/>
    <title>{{pagetitle}}</title>
</head>
    <body>
        <div id="nav-container">
            <p>{{logo}}</p>
            <nav class="nav-section">
                <ul>
                    <li><a href="index.php">{{homelink}}</a></li>
                    <li><a href="title.php">{{titlemakerlink}}</a></li>
                    <li><a href="contact.php">{{contactlink}}</a></li>
                </ul>
            </nav>
        </div>
