<!-- -------------------
Name: Hope Watson
Coding 03
Purpose: Gives feedback to user based on their input from title.html
------------------- -->


<div class="body-div">
    <h1 id="user-title-message">{{usermessage}}</h1>
        <div class="body-content-container">
            <div class = "user-message-container">
                <p>{{userlengthmessage}}</p>
                <img id="user-image" src = {{userimage}} alt = "status image">
                <a class = "try-again-a" href="title.php"><button class = "try-again-button">try again</button></a>
            </div>
        </div>
</div>