<!-- -------------------
Name: Hope Watson
Coding 05
Purpose: Gives feedback to user based on their input from contact.html
------------------- -->


<div class="body-div">
    <h1 id="user-title-message">{{statusmessage}}</h1>
        <div class="body-content-container">
            <div class = "user-message-container">
                <img id="user-image" src = {{statusimage}} alt = "status image">
                <a class = "try-again-a" href="contact.php"><button class = "try-again-button">try again</button></a>
            </div>
        </div>
</div>