<!-- -------------------
Name: Hope Watson
Coding 03
Purpose: Takes in user input from text input which is later used in a php file to concatinate input into a user title.
------------------- -->
    <div id="msg">

    </div>
    <div class = "form-container">
        <p>{{forminstructions}}</p>
        <form id="title-generator-form" name="title-generator-form">

            <label for="title">{{input1}}</label>
            <input class="user-input" id="title-input" type="text" id="title" name="title" placeholder="Title">

            <label for="drink">{{input2}}</label>
            <input class="user-input" id="drink-input" type="text" id="drink" name="drink" placeholder="Favorite Drink">

            <label for="pet-name">{{input3}}</label>
            <input class="user-input" id="pet-input" type="text" id="pet-name" name="petname" placeholder="Pet Name">

            <label for="fictional-place">{{input4}}</label>
            <input class="user-input" id="fictional-place-input" type="text" id="fictional-place" name="fictionalplace" placeholder="Fictional Place">

            <label for="realplace">{{input5}}</label>
            <input class="user-input" id="real-place-input" type="text" id="real-place" name="realplace" placeholder="Real Place">

            <label for="email">{{input6}}</label>
            <input class="user-input" id="email-input" type="text" id="email" name="email" placeholder="Email">
            
            <input id="submit-button" type="button" value="Submit">
            <input id="clear-button" type="button" value="Clear">

        </form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/title.js"></script>

